<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolflix</title>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <!-- css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Axios DCN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body><!-- // M4.1 Trasformiamo quello che abbiamo fatto fino ad ora in una vera e propria webapp, creando un layout completo simil-Netflix -->
  <div id="app"><!-- //M1.1 Creare un layout base -->
    <header>
      <div class="container_header">
        <div class="header_logo_list">
          <ul class="list_style_none">
            <li><img src="assets/img/boolflix.png" alt="logo boolflix"></li>
            <li id="home"><a href="#">Home</a></li>
            <li><a href="#">Serie TV</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Nuovi e popolari</a></li>
            <li><a href="#">La mia lista</a></li>
          </ul>
        </div><!-- /.header_logo_list -->
        <!-- //M1.2 click bottone/enter visualizzazione film cercati -->
        <div class="header_input_button">
          <input type="text" name="search" value="" placeholder="Cerca" v-model="search" @keyup.enter="searchFilm">
          <button type="button" name="button" @click="searchFilm">Search film</button>
        </div><!-- /.header_input_button -->
      </div><!-- /.container -->
    </header>
    <!-- /header -->
    <main class="container">
      <div id="film">
        <h2>Film</h2>
        <div class="container_card">
          <div class="card" v-for="film in movies">
            <div class="overlay">
              <div class="info">
                <!-- //M1.3 valori per ogni film trovato -->
                <p class="title">Titolo: {{film.title}}</p><!-- //Vue: titolo -->
                <p class="original_title">Titolo originale: {{film.original_title}}</p><!-- //Vue: titolo originale -->
                <!--M2.1 voto in stelle -->
                <p class="star">
                  Voto: <i class="fas fa-star" v-for="star in getVote(film.vote_average)"></i><i class="far fa-star" v-for="star in 5-getVote(film.vote_average)"></i><!-- //Vue: media voto -->
                </p>
                <p class="overview">Overview: {{film.overview}}</p>
                <!-- //M2.2 Trasformiamo la stringa statica della lingua in una bandiera della nazione corrispondente -->
                <div class="flag_language">
                  <img v-if="flags.includes(film.original_language)" :src=`assets/img/flags/png/${film.original_language}.png` alt=""><!-- //Vue: bandiera lingua originale-->
                  <p v-else class="original_language">Lingua: {{film.original_language}}</p><!-- //Vue: lingua originale-->
                </div>
              </div><!-- /.info -->
            </div><!-- /.overlay -->
            <!-- //M3 imagine copertina -->
            <img v-if="film.poster_path == null" src="assets/img/error404.png" alt="">
            <img v-else :src=`https://image.tmdb.org/t/p/w342${film.poster_path}` alt="">
          </div><!-- /.card -->
        </div>
      </div><!-- /#film -->

      <div id="serieTV">
        <h2>Serie TV</h2>
        <div class="container_card">
          <div class="card" v-for="serie in TVseries">
            <div class="overlay">
              <div class="info">
                <!-- //M1.3 valori per ogni serie Tv trovata -->
                <p class="title">Titolo: {{serie.name}}</p><!-- //Vue: titolo -->
                <p class="original_title">Titolo originale: {{serie.original_name}}</p><!-- //Vue: titolo originale -->
                <!--M2.1 voto in stelle -->
                <p class="star">
                  Voto: <i class="fas fa-star" v-for="star in getVote(serie.vote_average)"></i><i class="far fa-star" v-for="star in 5-getVote(serie.vote_average)"></i><!-- //Vue: media voto -->
                </p>
                <p class="verview">Overview: {{serie.overview}}</p>
                <!-- //M2.2 Trasformiamo la stringa statica della lingua in una bandiera della nazione corrispondente -->
                <div class="flag_language">
                  <img v-if="flags.includes(serie.original_language)" :src=`assets/img/flags/png/${serie.original_language}.png` alt=""><!-- //Vue: bandiera lingua originale-->
                  <p v-else class="original_language">Lingua: {{serie.original_language}}</p><!-- //Vue: lingua originale-->
                </div>
              </div><!-- /.info -->
            </div><!-- /.overlay -->
            <!-- //M3 imagine copertina -->
            <img v-if="serie.poster_path == null" src="assets/img/error404.png" alt="">
            <img v-else :src=`https://image.tmdb.org/t/p/w342${serie.poster_path}` alt="">
          </div><!-- /.card -->
        </div>
      </div><!-- /#serieTV -->
    </main>
  </div>
  <!-- /#app -->


  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- VUE  -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Js -->
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
