* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: #141414;
  min-height: 100vh;
}

/* UTILITY DISPLAY */
.list_style_none {
  list-style: none;
}

h2{
  font-size: 26px;
  font-weight: 800;
  color: white;
  margin-top: 50px;
}

/* container  */
.container_header {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 70px 0;
  overflow-y: auto;
}

.container_card {
  overflow: hidden;
  margin: 0 auto;
  padding: 15px 7px;
  display: flex;
  align-items: center;
  height: 100%;
}
.container_card:hover{
  overflow-x: auto;
  height: 450px;
}

/* header */
header {
  width: 100%;
  height: 70px;
  background: #0C0C0C;
  position: fixed;
  z-index: 10;
}
.header_logo_list ul li{
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.header_logo_list ul li a{
  color: #E5E5E5;
  text-decoration: none;
}
.header_logo_list ul li#home a,
.header_logo_list ul li a:hover{
  color: white;
  font-weight: 500;
  text-decoration: none;
}
header img {
  height: 50px;
  margin-top: 10px;
}
header input,
header button,
button#prev,
button#next {
  padding: 6px;
  margin: 0 3px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: white;
}
header button:hover,
button#prev:hover,
button#next:hover {
  box-shadow: 0 0 10px white;
  color: white;
  background-color: rgba(46, 58, 70, 0.3);
  transform: scale(1.1);
  transition: 1s ease;
}

/**************************
* utility OVERLAY SECTION
**************************/
.card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* flex-basis: 200px; */
  margin: 3px;
  width: 200px;
  height: 342px;
  border-radius: 6px;
  position: relative;
}
.card:hover{
  box-shadow: 0 0 10px white;
  transform: scale(1.17);
  transition: 1s ease;
  border-radius: 6px;
  z-index: 2;
}
.card:first-child:hover{
  position: relative;
  left: 16px;
}
.card:last-child:hover{
  position: relative;
  right: 30px;
}

.card > img {
  border-radius: 6px;
  width: 200px;
  height: 342px;
}

.info{
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
.info p {
  font-size: 12px;
  margin: 5px 0;
}.info p.overview{
  overflow-y: auto;
  height: 55%;
}
.info div.flag_language > img {
  width: 30%;
}

.overlay{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #181818;
}

.card:hover .overlay{
  display: block;
  cursor: pointer;
  border-radius: 6px;
}


::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background: #403a3a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #827d7d;
}
::-webkit-scrollbar-track {
  background: #221f1f;
  border-radius: 10px;
}
