* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  background: #141414;
  min-height: 100vh;
}

/* UTILITY DISPLAY */
.d-flex{
  display: flex;
}
.list_style_none {
  list-style: none;
}
.d-none{
  display: none;
}

.ml_1{
  margin-left: 1rem;
}
.my_3{
  margin: 3rem 0;
}

h2{
  font-size: 26px;
  font-weight: 800;
  color: white;
  padding: 50px 0;
}


/*  */
.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* header */
header {
  width: 100%;
  height: 70px;
  background: #0C0C0C;
}
.header_logo_list ul li{
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.header_logo_list ul li a{
  color: #E5E5E5;
  text-decoration: none;
}
.header_logo_list ul li#home a,
.header_logo_list ul li a:hover{
  color: white;
  font-weight: 600;
  text-decoration: none;
}
header img {
  height: 50px;
  margin-top: 10px;
}
header input,
header button,
button#prev,
button#next {
  padding: 6px;
  margin: 0 3px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: white;
}
header button:hover,
button#prev:hover,
button#next:hover {
  box-shadow: 0 0 10px white;
  color: white;
  background-color: rgba(46, 58, 70, 0.3);
  transform: scale(1.1);
  transition: 1s ease;
}

/* section */
.films_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info p {
  font-size: 12px;
}
.info div.flag_language > img {
  width: 30%;
}

/**************************
* utility OVERLAY SECTION
**************************/
.card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* flex-basis: 200px; */
  margin: 15px 20px;
  width: 200px;
  height: 342px;
  border-radius: 6px;
  position: relative;
}

.card > img {
  border-radius: 6px;
  width: 200px;
  height: 342px;
}

.info{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: white;

}
.card:hover{
  transform: scale(1.1);
  transition: 1s ease;
  border-radius: 6px;
}
.card:hover .overlay{
  display: block;
  cursor: pointer;
  border-radius: 6px;
}
